@CHARSET "UTF-8";

.block_my_courses {
	margin-bottom: 10px;
}

.block_my_courses .generaltable {
	margin-bottom: 0px;
}

.block_my_courses .generaltable .empty, .generaltable .empty tr, .generaltable .empty tr td  {
	font-size: 1px;
	line-height: 1px;
	height: 5px;
}

.block_my_courses .show-hide {
	text-align: right;
}

.block_my_courses .leftfloat {
	float:left;
	padding:3px 6px;
}

.block_my_courses .rightfloat {
	float:right;
	padding:3px 6px;
}

.block_my_courses .sorting {
	

}